{% extends "base.html" %}

{% block title %}<h1 class="text-center"> Cursos </h1>{% endblock %}

{% load static %}

{% block contenido %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3 class="text-center"> Editar </h3>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form action="{% url 'editar_curso' curso.id %}" method="POST">
                    {% csrf_token %}
                    <p>Nombre: {{mi_formulario.nombre}}</p>
                    <p>Camada: {{mi_formulario.camada}}</p>
                    <div class="d-grid gap-2">
                        <button class="fw-bold btn btn btn-outline-success"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                        --bs-btn-font-size: .65rem;">Grabar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}