{% extends "base.html" %}

{% block title %}<h1 class="text-center"> Entregables </h1>{% endblock %}

{% load static %}

{% block contenido %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center"> Editar </h1>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form action="{% url 'editar_entregable' entregable.id %}" method="POST">
                    {% csrf_token %}
                    <p>Nombre: {{mi_formulario.nombre}}</p>
                    <p>Fecha entrega: {{mi_formulario.fecha_entrega}}</p>
                    <p>Entregado: {{mi_formulario.entregado}}</p>
                    <div class="d-grid gap-2">
                        <button class="fw-bold btn btn btn-outline-success"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                        --bs-btn-font-size: .65rem;">Grabar
                        </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}