{% extends "base.html" %}

{% block title %}<h1 class="text-center"> Profesores </h1>{% endblock %}

{% load static %}

{% block contenido %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center"> Agregar </h1>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form action="alta_profesor" method="POST">
                    {% csrf_token %}
                    <p>Apellido: <input type="text", name="apellido" requerido></p>
                    <p>Nombre: <input type="text", name="nombre" requerido></p>
                    <p>Mail: <input type="email", name="mail" requerido></p>
                    <p>Profesion: <input type="text", name="profesion" requerido></p>
                    <div class="d-grid gap-2">
                        <button class="fw-bold btn btn btn-outline-success"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                        --bs-btn-font-size: .65rem;">Grabar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}